<IfModule mod_rewrite.c>
  RewriteEngine On

# Atalho canônico para a API

RewriteRule ^wp-json/?$ index.php\?rest_route=/? [L,QSA]
RewriteRule ^wp-json/(.*)$ index.php?rest_route=/$1 [L,QSA]
</IfModule>

# BEGIN WordPress
# As diretrizes (linhas) entre "BEGIN WordPress" e "END WordPress" são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress


# END WordPress
